<table mat-table multiTemplateDataRows [dataSource]="lists">
	<ng-container matColumnDef="Action">
		<th mat-header-cell *matHeaderCellDef></th>
		<td mat-cell *matCellDef="let list">
			<div *ngIf="list.ListClassification == 'PublicationList'" style="text-align: right">
				<div *ngIf="list.Status == 'Unsubscribed'">
					<mat-spinner *ngIf="list.loading"
						color="primary" diameter="32"></mat-spinner>
					<button mat-button color="primary" *ngIf="!list.loading"
						(click)="resubscribe(list.ListID)">Resubscribe</button>
				</div>
				<div *ngIf="list.Status == 'Active'">
					<mat-spinner *ngIf="list.loading"
						color="warn" diameter="32"></mat-spinner>
					<button mat-button color="warn" *ngIf="!list.loading"
						(click)="unsubscribe(list.ListID)">Unsubscribe</button>
				</div>
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="ListID">
		<th mat-header-cell *matHeaderCellDef>List ID</th>
		<td mat-cell *matCellDef="let list">
			<!-- <mat-icon *ngIf="list.ListID == 0">hourglass_top</mat-icon> -->
			<span *ngIf="list.ListID != 0">{{ list.ListID }}</span>
		</td>
	</ng-container>

	<ng-container matColumnDef="ListName">
		<th mat-header-cell *matHeaderCellDef>List Name</th>
		<td mat-cell *matCellDef="let list" [matTooltip]="list.ListName">
			<span class="highlight">{{ list.ListCode || list.ListName }}</span>
		</td>
	</ng-container>

	<ng-container matColumnDef="Status">
		<th mat-header-cell *matHeaderCellDef>Status</th>
		<td mat-cell *matCellDef="let list">
			{{ list.Status }}
			<div *ngIf="getSyncStatus(list)">
				<mat-icon>refresh</mat-icon>
				{{ getSyncStatus(list) }}
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="UnsubscribedDate">
		<th mat-header-cell *matHeaderCellDef>Unsubscribed Date</th>
		<td mat-cell *matCellDef="let list">
			<div>{{ formatDate(list.UnsubscribedDate) }}</div>
			<!-- <div>{{ formatTime(list.UnsubscribedDate) }}</div> -->
		</td>
	</ng-container>

	<ng-container matColumnDef="CreatedDate">
		<th mat-header-cell *matHeaderCellDef>Created Date</th>
		<td mat-cell *matCellDef="let list">
			<div>{{ formatDate(list.CreatedDate) }}</div>
			<!-- <div>{{ formatTime(list.CreatedDate) }}</div> -->
		</td>
	</ng-container>

	<ng-container matColumnDef="ModifiedDate">
		<th mat-header-cell *matHeaderCellDef>Modified Date</th>
		<td mat-cell *matCellDef="let list">
			<div>{{ formatDate(list.ModifiedDate) }}</div>
			<!-- <div>{{ formatTime(list.ModifiedDate) }}</div> -->
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="cols"></tr>
	<tr mat-row *matRowDef="let row; columns: cols;"></tr>
</table>
