<div>
	<strong class="label">Lists:</strong>
	<mat-checkbox [checked]="list.selected"
		(change)="list.selected = !list.selected"
		*ngFor="let list of lists">{{ list.name }}</mat-checkbox>
</div>
<div>
	<strong class="label">Events:</strong>
	<mat-checkbox [checked]="type.selected"
		(change)="type.selected = !type.selected"
		*ngFor="let type of types">{{ type.name }}</mat-checkbox>
</div>
<table mat-table [dataSource]="filteredEvents">
	<ng-container matColumnDef="Locale">
		<th mat-header-cell *matHeaderCellDef>Location</th>
		<td mat-cell *matCellDef="let event">
			{{ event.Locale || 'Global' }}
		</td>
	</ng-container>

	<ng-container matColumnDef="ListID">
		<th mat-header-cell *matHeaderCellDef>List ID</th>
		<td mat-cell *matCellDef="let event">{{ event.ListID }}</td>
	</ng-container>

	<ng-container matColumnDef="ListName">
		<th mat-header-cell *matHeaderCellDef>List Name</th>
		<td mat-cell *matCellDef="let event" [matTooltip]="event.ListName">
			<span class="highlight">{{ event.ListCode }}</span>
		</td>
	</ng-container>

	<ng-container matColumnDef="EventType">
		<th mat-header-cell *matHeaderCellDef>Event Type</th>
		<td mat-cell *matCellDef="let event">
			<mat-icon *ngIf="hasMoreInfo(event)">info</mat-icon>
			<span>{{ event.EventType }}</span>
		</td>
	</ng-container>

	<ng-container matColumnDef="EventDate">
		<th mat-header-cell *matHeaderCellDef>Event Date</th>
		<td mat-cell *matCellDef="let event">
			{{ formatDate(event.EventDate) }}
		</td>
	</ng-container>

	<ng-container matColumnDef="EventInfo">
		<th mat-header-cell *matHeaderCellDef>Extra</th>
		<td mat-cell *matCellDef="let event">{{ getInfo(event) }}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="cols"></tr>
	<tr mat-row *matRowDef="let event; columns: cols;"
		(click)="openDialog(event)"></tr>
</table>
