<div>
	<strong>Lists:</strong>
	<mat-checkbox [checked]="isListActive(list.Id)" (change)="toggleList(list.Id)"
		*ngFor="let list of allLists">{{ list.Name }}</mat-checkbox>
</div>
<div>
	<strong>Events:</strong>
	<mat-checkbox [checked]="isTypeActive(type)" (change)="toggleType(type)"
		*ngFor="let type of allTypes">{{ type }}</mat-checkbox>
</div>
<table mat-table [dataSource]="filteredEvents">
	<ng-container matColumnDef="ListID">
		<th mat-header-cell *matHeaderCellDef>List ID</th>
		<td mat-cell *matCellDef="let event">{{ event.ListID }}</td>
	</ng-container>

	<ng-container matColumnDef="ListName">
		<th mat-header-cell *matHeaderCellDef>List Name</th>
		<td mat-cell *matCellDef="let event" [matTooltip]="event.ListName">
			<span class="highlight">{{ event.ListCode }}</span>
		</td>
	</ng-container>

	<ng-container matColumnDef="EventType">
		<th mat-header-cell *matHeaderCellDef>Event Type</th>
		<td mat-cell *matCellDef="let event">
			<mat-icon *ngIf="hasMoreInfo(event)">info</mat-icon>
			<span>{{ event.EventType }}</span>
		</td>
	</ng-container>

	<ng-container matColumnDef="EventDate">
		<th mat-header-cell *matHeaderCellDef>Event Date</th>
		<td mat-cell *matCellDef="let event">
			<div>{{ formatDate(event.EventDate) }}</div>
			<div>{{ formatTime(event.EventDate) }}</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="EventInfo">
		<th mat-header-cell *matHeaderCellDef>Extra</th>
		<td mat-cell *matCellDef="let event">{{ getInfo(event) }}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="cols"></tr>
	<tr mat-row *matRowDef="let event; columns: cols;"
		(click)="openDialog(event)"></tr>
</table>
