.mat-checkbox { margin: 8px; }

table {
	width: 100%;

	.mat-icon {
		width: 14px;
		height: 14px;
		font-size: 14px;
	}

	.empty-row {
		height: 0px;
	}

	tr:hover {
		background: whitesmoke;
		cursor: pointer;
	}
}
