@import '~@angular/material/theming';

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-light-blue);
$app-warn: mat-palette($mat-red);
$app-success: mat-palette($mat-green);

$app-theme: mat-light-theme((
	color: (
		primary: $app-primary,
		accent: $app-accent,
		warn: $app-warn,
	)
));

@mixin table-row-color($color) {
	&:hover {
		background: mat-color($color, 50);
	}

	&.selected {
		background: mat-color($color, 100);
	}

	.mat-cell {
		color: mat-color($color, 900);
	}
}

.mat-table {
	.mat-icon {
		width: 24px;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
		float: left;
	}

	.mat-row {
		cursor: pointer;

		&:hover {
			background: mat-color(map-get($app-theme, accent), 50);

			// .mat-cell {
			// 	color: mat-color($app-accent, 900);
			// }
		}

		&.selected {
			background: mat-color(map-get($app-theme, accent), 100);

			// .mat-cell {
			// 	color: mat-color($app-accent, 900);
			// }
		}

		&.success {
			@include table-row-color($app-success);
		}

		&.warn {
			@include table-row-color($app-warn);
		}
	}
}

.highlight {
	cursor: pointer;
	text-decoration: underline dashed;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
	&.mat-success {
		color: mat-color($app-success, 700);
	}
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
	&.mat-success {
		background: mat-color($app-success, 500);
		color: white;
	}
}
