@import '../../theme';

.mat-checkbox { margin: 8px; }

.mat-table {
	width: 100%;

	.mat-row:hover {
		background: mat-color(map_get($app-theme, accent), 50);
	}

	.mat-row.selected {
		background: mat-color(map_get($app-theme, accent), 100);
	}
}

.layout {
	display: flex;
	justify-content: space-between;
	align-content: stretch;

	.list {
		flex-grow: 1;
		flex-shrink: 1;
	}

	.item {
		flex-grow: 3;
		flex-shrink: 0;
	}
}
