<mat-form-field appearance="standard">
	<mat-label>Search By</mat-label>
	<mat-select [formControl]="fieldCtrl">
		<mat-option value="key">Subscriber Key</mat-option>
		<mat-option value="email">Email Address</mat-option>
	</mat-select>
</mat-form-field>
&nbsp;
<mat-form-field appearance="standard">
	<mat-label>{{ fieldLabels[fieldCtrl.value] }}</mat-label>
	<input matInput required [formControl]="inputCtrl"
		(keypress)="onKeyPress($event)">
	<mat-error *ngIf="inputCtrl.invalid">Input is required</mat-error>
</mat-form-field>
&nbsp;
<button mat-icon-button color="primary"
	[disabled]="inputCtrl.disabled" (click)="search()">
	<mat-icon matSuffix>search</mat-icon>
</button>
<button mat-icon-button color="warn"
	[disabled]="inputCtrl.disabled || results.length == 0" (click)="reset()">
	<mat-icon matSuffix>clear</mat-icon>
</button>
&nbsp;
<mat-spinner *ngIf="inputCtrl.disabled" diameter="36" color="accent"
	style="display: inline-block; vertical-align: middle"></mat-spinner>
